@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes neon-glow {
  0% {
    text-shadow: 0 0 5px rgba(0, 102, 255, 0.8), 0 0 10px rgba(0, 102, 255, 0.6);
  }
  50% {
    text-shadow: 0 0 10px rgba(0, 102, 255, 1), 0 0 20px rgba(0, 102, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 5px rgba(0, 102, 255, 0.8), 0 0 10px rgba(0, 102, 255, 0.6);
  }
}

.animate-glow {
  animation: neon-glow 1.5s infinite alternate;
}

.slick-prev,
.slick-next {
  color: #333 !important; /* Warna panah default di light mode */
  z-index: 50;
}

.dark .slick-prev,
.dark .slick-next {
  color: #fff !important; /* Warna panah untuk dark mode */
}

.slick-prev::before,
.slick-next::before {
  font-size: 24px !important; /* Ukuran panah lebih besar */
  color: #333 !important; /* Warna panah lebih jelas */
}

.dark .slick-prev::before,
.dark .slick-next::before {
  color: #fff !important; /* Warna panah di dark mode */
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-120px * 12 - 8px * 12)
    ); /* Width of all logos + gaps */
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

/* Blur text animation */
.blur-text {
  transition: filter 0.3s ease-out;
  will-change: filter, transform, opacity;
}

.blur-text span {
  display: inline-block;
  transition: transform 0.3s ease-out, filter 0.3s ease-out,
    opacity 0.3s ease-out;
}
